@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.text {
  color: var(--text-color);
  transition: var(--tran-03);
}

:root {
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #1707c4;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #383838;
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

body {
  min-height: 100vh;
  background-color: var(--body-color);
  transition: var(--tran-05);
}

::selection {
  background-color: var(--primary-color);
  color: #fff;
}

body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
}

body.dark .home .text {
  color: var(--text-color);
}


.button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 20px;
  cursor: pointer;
  transition: var(--tran-05);
  transform: translateY(0);
}

.button:hover {
  box-shadow: 0 4px 8px var(--text-color); /* Add a subtle box shadow on hover */
}

.icon {
  color: var(--toggle-color);
  transition: var(--tran-05);
}

.iconn {
  color: var(--text-color);
  transition: var(--tran-05);
  cursor: pointer;
}


.modal-content {
  background-color: var(
    --sidebar-color
  ); /* Set the background color to primary color light */
}

.input {
    outline: var(--primary-color-light);
    border: 4px solid var(--primary-color-light);
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    transition: var(--tran-05);
    position: relative;
  }
  .input:focus {
    outline: none;
    box-shadow: none;
    border-color: var(--sidebar-color);
    background-color: var(--primary-color-light);
    color: var(--text-color);
  }

  .card {
    position: relative;
    transition: transform 400ms;
  }
  
  .card.deleted {
    right: -100%; /* Slide the deleted item to the left */
  }
  
  
  .card-body {
    background-color: var(--sidebar-color);
    transition: var(--tran-05);
  }
  .card-body.dark {
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
  }
  
  .card:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: 400ms;
    transform: scale(1.04); /* Scale the card on hover */
  }

  #chart {
    max-width: 650px;
    margin: 35px auto;
  }
