.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust the height as needed */
}

.card {
  width: 55%;
  padding: 10px;
  border-radius: 15px;
  position: relative;
}

.card:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  transition: 400ms;
  transform: scale(1.04);
}


.card-footer{
    background-color: transparent;
}

.card-header{
  background-color: transparent;
}


  