.square-image-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px; /* Set your desired width */
    height: 200px; /* Set your desired height */
    overflow: hidden;
    margin-top: 10px; /* Adjust the margin as needed */
    margin-left: auto;
    margin-right: auto;
  }
  
  .square-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire box */
  }
  