@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.text {
  color: var(--text-color);
  transition: var(--tran-03);
}

:root {
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #1707c4;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #383838;
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}
/* Add this CSS to your styles */
.card {
  position: relative;
  transition: transform 400ms;
}

.card.deleted {
  right: -100%; /* Slide the deleted item to the left */
}


.card-body {
  background-color: var(--body-color);
  transition: var(--tran-05);
  border: none;
}
.card-body.dark {
  --body-color: #3a3b3c;
  --sidebar-color: #3a3b3c;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
}

.card:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: 400ms;
  transform: scale(1.04); /* Scale the card on hover */
}


::selection {
  background-color: var(--primary-color);
  color: #fff;
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  background-color: var(--sidebar-color);
  cursor: pointer;
  transition: var(--tran-05);
  padding: 10px;
}

.quantity input {
  outline: var(--sidebar-color);
  border: none;
  background-color: var(--sidebar-color);
  color: var(--text-color);
  border-radius: 6px;
  font-size: 17px;
  transition: var(--tran-05);
  position: relative;
}

.dropdown-item:hover {
  box-shadow: none; /* Remove the shadow on hover */
  /* Add any other hover styles you want here */
}
.quantity button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 20px;
  cursor: pointer;
  transition: var(--tran-05);
  transform: translateY(0);
}

.quantity:hover button {
  box-shadow: 0 4px 8px var(--text-color); /* Add a subtle box shadow on hover */
}

.quantity button icon {
  color: var(--toggle-color);
  transition: var(--tran-05);
}

.fade-in-enter {
  opacity: 0; /* Start the card with opacity 0 */
  transform: translateY(10px); /* Move the card slightly down */
}

.fade-in-enter-active {
  opacity: 1; /* Animate the card opacity to 1 */
  transform: translateY(0); /* Animate the card back to its original position */
  transition: opacity 500ms, transform 500ms; /* Set the duration of the animation */
}
